<h1>All the cats!</h1>

<%= form_for Cat.new, html: { multipart: true } do |f| %>
<%= f.label :image_url, 'Cat Url!' %>
<%= f.text_field :image_url %>
<br>
<%= f.label :image, 'Cat Image!' %>
<%= f.file_field :image %>
<%= f.submit %>
<% end %>

<% Cat.all.each do |cat| %>
  <%= image_tag cat.image.url(:large) if cat.image? %>
  <%= image_tag cat.image_url if cat.image_url.present? %>
<% end %>
